{% extends 'questions/main.html' %}
{% block content %}
{% load static%}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
                <h2>Question</h2>
                <p>{{ questions.asksource }}</p>
                <p><b>{{ questions.asktext }}</b></p>
                <br>
                <a class="btn btn-sm btn-info" href="{% url 'create_answers' questions.id %}">Create a new Answer</a>
        </div>
        <div class="card card-body">
            <table class="table table-hover table-sm">      
                {% for item in answers %}
                    <tr>
                        <td>
                            {{ item.answertext|truncatewords:20  }}
                            {% if item.iscorrect %}
                            <font color="#ff0000">(correct)</font>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-sm btn-info" href="{% url 'update_answers' questions.id item.id %}">Update</a>
                            <a class="btn btn-sm btn-danger" href="{% url 'delete_answers' item.id  %}">Del</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
