{% extends 'questions/main.html' %}

 
{% block content %}
{% include 'questions/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>THEMES:</h5>
		<hr>
		<div class="card card-body">			
			<table class="table table-sm">
				<thead class="thead-light">
					<tr>
						<th>Theme</th>
						<th># questions</th>
					</tr>
				</thead>
                {% for item in themes_list %}
                    <tr>
						<td>{{ item.theme }}</td>
						<td>...</td>
					</tr>
                {% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST QUESTIONS</h5>
		<hr>
		<div class="card card-body">			
			<table class="table table-sm">
				<thead class="thead-light">
					<tr>
						<th>Theme</th>
						<th>Question</th>
					</tr>
				</thead>
                {% for item in question_list %}
                    <tr><td>{{ item.theme  }}</td>
						<td>{{ item.asktext|truncatewords:10  }}</td>
                {% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}
