<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue mb-2" id="total-subjects">
			  	<div class="card-header">
			  		<h5 class="card-title">Total subjects</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ themes_count }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue mb-2" id="total-questions">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Questions</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ question_count }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-blue mb-2" id="total-tags">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Tags</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ tags_count }}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>